@font-face {
    font-family: nino;
    src: url(fonts/bpg_nino_mtavruli_bold.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

* {
    padding: 0;
    margin: 0;
}

html {
    scroll-snap-type: y mandatory;
    height: 100%;
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(135deg, #1e1e2f, #3a0ca3);
    background-attachment: fixed;
    overflow-y: scroll;
    scroll-behavior: smooth;
    height: 100%;
}


.navbar {
    background-color: white;
    height: 100vh;
    width: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: -1000px;
    z-index: 100;
    transition: 0.4s;
}

.navbar.active {
    left: 0px;
}

a {
    text-decoration: none;
    font-size: 35px;
    font-family: nino;
    color: black;
}

li {
    list-style: none;
    margin: 30px;
}


.line1, .line2, .line3 {
    width: 30px;
    height: 3px;
    background-color: black;
    transition: 0.6s;
}

.burger {
    position: fixed;
    top: 10px;
    left: 10px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    cursor: pointer;
    background-color: white;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    z-index: 1000;
}

.burger.active .line1 {
    rotate: 50deg;
    position: relative;
    top: 5px;
}

.burger.active .line2 {
    display: none;
}

.burger.active .line3 {
    rotate: -50deg;
}

#section1 {
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    scroll-snap-align: start;
}

.homebanner {
    width: 370px;
    box-shadow: 0px 0px 10px;
    border-radius: 12px;
}

.hometext1 {
    font-family: nino;
    font-size: 45px;
    color: rebeccapurple;
    letter-spacing: 10px;
}

.hometext2 {
    font-family: nino;
    font-size: 100px;
    color: white;
    margin-top: 20px;
}

#section2 {
    height: 100vh;
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.img1 {
    height: 350px;
    border-radius: 7px;
}

.name1 {
    font-size: 30px;
    color: white;
    font-family: nino;
    margin-left: 10px;
}

.project {
    display: flex;
    justify-content: center; 
    margin-top: 200px;
    scroll-snap-align: start;
}

.project2 {
    display: flex;
    justify-content: center; 
    scroll-snap-align: start;
}

.button1 {
    padding: 5px;
    font-family: nino;
    font-size: 15px;
    background-color: orange;
    border: none;
    border-radius: 3px;
    margin-top: 320px;
    position: relative;
    right: 70px;
    cursor: pointer;
}

.section3 {
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#section4 {
    height: 100vh;
    margin-top: 300px;
    scroll-snap-align: start;
}


.skills {
    text-align: center;
    color: white;
    font-size: 40px;
    font-family: nino;
    margin-top: 100px;
}

.js {
    background-color: rgba(102, 51, 153, 0.7);
    width: 140px;
    border-radius: 7px;
    box-shadow: 0px 0px 6px rebeccapurple;
    opacity: 0;
    position: relative;
    right: 200px;
    opacity: 0;
    transition: 1s;
}

.animation3 {
    right: 0px;
    opacity: 1;
}

.jslogo, .csslogo, .htmllogo {
    display: block;
    margin: 0 auto;
}

.name {
    font-size: 20px;
    color: white;
    text-align: center;
    font-family: nino;
}

.descrip {
    font-size: 13px;
    color: whitesmoke;
    text-align: center;
    font-family: nino;
}

.css {
    background-color: rgba(102, 51, 153, 0.7);
    width: 140px;
    border-radius: 7px;
    box-shadow: 0px 0px 6px rebeccapurple;
    opacity: 0;
}

.html {
    background-color: rgba(102, 51, 153, 0.7);
    width: 140px;
    border-radius: 7px;
    box-shadow: 0px 0px 6px rebeccapurple;
    opacity: 0;
    position: relative;
    opacity: 0;
    transition: 1s;
}

.animation2 {
    opacity: 1;
}

.skill {
    display: flex;
    flex-direction: row;
    gap: 35px;
    margin-top: 100px;
    justify-content: center;
}

.text {
    color: white;
    font-size: 18px;
    width: 400px;
    text-align: center;
    display: block;
    margin: 0 auto;
    margin-top: 50px;
    font-family: nino;
    opacity: 0;
}



.animation {
    opacity: 1;
    transition: 1s;
}


#section5 {
    height: 100vh;
    scroll-snap-align: start;
}

.abotitle {
    font-family: nino;
    color: white;
    font-size: 40px;
    text-align: center;
    padding: 20px;
}

.pete {
    height: 300px;
    border-radius: 12px;
    box-shadow: 0px 0px 12px;
    opacity: 0;
    transition: 1s ease;
    
}

.animation5 {
    opacity: 1;
    height: 350px;
}

.aboinfo {
    display: flex;
    gap: 30px;
    justify-content: center;
    height: 80vh;
    align-items: center;
}

.textabo {
    color: white;
    font-size: 18px;
    font-family: nino;
    width: 400px;
}


#section6 {
    position: relative;
    font-size: 30px;
    background: linear-gradient(135deg, #3a0ca3, #1e1e2f);
    color: white;   
    scroll-snap-align: start;       
}

.context {
    margin-left: 50px;
    font-family: nino;
}

.email {
    display: flex;
    align-items: center;
    height: 20px;
    justify-content: right;
    font-family: nino;
    position: relative;
    bottom: 86px;
}

.phone {
    display: flex;
    align-items: center;
    height: 20px;
    justify-content: center;
    font-family: nino;
    position: relative;
    bottom: 150px;
}


@media screen and (max-width: 1024px) {
    
.homebanner {
    width: 330px;
    margin-right: 100px;
}

.hometext1 {
    font-family: nino;
    font-size: 40px;
    color: rebeccapurple;
    letter-spacing: 0px;
}



.hometext2 {
    font-family: nino;
    font-size: 80px;
}
#section6 {
        width: 100%;
    }

    .pete {
        height: 300px;
    }

    .textabo {
        width: 300px;
    }

}


@media screen and (max-width: 480px) {
    .homebanner {
        width: 300px;
        display: block;
        margin: 0 auto;
    }

    .text {
        width: 90%;
    }

    .hometext1 {
        font-size: 30px;
        
    }

    #section1 {
        flex-direction: column;
        
    }


    .project,
    .project2 {
        flex-direction: column;
        align-items: center;
        margin-top: 150px;
        text-align: center;
    }

    .img1 {
        margin: 0;
        height: 250px;
    }

    .name1 {
        margin: 15px 0 10px 0;
    }

    .button1 {
        position: static;
        margin: 10px 0 0 0;
    }

.js {
    right: 0;
}

.js, .html, .css {
    width: 100px;
}

.pete {
    height: 220px;
}

.animation5 {
    height: 250px;
}

.aboinfo {
    flex-direction: column;
    
}

.textabo {
    text-align: center;
}
    
    .email,
    .phone {
        margin: 10px auto;
        justify-content: center;
        text-align: center;
        bottom: 0;
        position: relative;
    }

    .context {
        margin: 0 auto;
    }

    #section6 {
        font-size: 18px;
        text-align: center;
        padding: 20px;
        margin-top: 200px;
    }

}